<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luihum.progressarchiver95">
    <queries>
        <package android:name="com.spookyhousestudios.progressbar95"/>
    </queries>
    <uses-sdk
        android:targetSdkVersion="30"
        tools:ignore="GradleOverrides" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.ProgressArchiver95">
       <!-- <provider
            android:name="com.luihum.progressarchiver95.ArchiveProvider"
            android:authorities="com.luihum.progressarchiver95.ArchiveProvider.pb95archive"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProgressArchiver95.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>